@import 'https://fonts.googleapis.com/css?family=Rubik+One';
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* from http://www.w3schools.com/howto/howto_css_switch.asp */
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.threeDee { 
  display: inline-block; 
  padding: 20px 40px;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Rubik One', sans-serif;
  text-decoration: none;
  font-size: 20px;
  transition: all .3s;
  background-color: #999;
 -webkit-box-shadow: 5px 5px 0 #666;
  -moz-box-shadow: 5px 5px 0 #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;}

.threeDee:active {
  -webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  
}

#power-switch {
  position: absolute;
  top: 8%;
  left: 53%;
}
#p_label {
  position: absolute;
  top: 9%;
  left: 33%;
  font-size: 20px;
  font-family: 'Rubik One', sans-serif;
}

#strict-switch {
  position: absolute;
  top: 58%;
  left: 60%;
}
#s_label {
  position: absolute;
  top: 59%;
  left: 26%;
  font-size: 20px;
  font-family: 'Rubik One', sans-serif;
}

.counter {
  font-family: 'Rubik One', sans-serif;
  background-color: black;
  color: white;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 100px;
  border-radius: 5px;
  position: absolute;
  top: 19%;
  left: 33%;
}

.svg-container {
  height: 1000px;
  width: 1000px;
  display: block;
  margin: auto;
}

.menu {
  background-color: white;
  height:430px;
  width: 430px;
  position: absolute;
  display: block;
  margin:auto 280px;
  border-radius: 100%;
  z-index: 1000;
  top: 285px;
  border: 2px solid black;
}

#item-1:active {
  fill: #F5512A;
}

#item-2:active {
  fill: #66DE74;
}

#item-3:active {
  fill: #FBFA51;
}

#item-4:active {
  fill: #03ACFA;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer {
font-family:Raleway, sans-serif;
font-size:20px;
font-weight:100;
color: black;
text-align: center;
margin: auto;
display: block;  
  margin-top: 50px;
}